@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Bruno+Ace&family=Bruno+Ace+SC&family=Carter+One&family=Caveat&family=Caveat+Brush&family=Goldman:wght@400;700&family=Lora:wght@500&family=Montserrat:wght@300;400;700&family=Nunito:wght@200;400;700;900&family=Patua+One&family=Permanent+Marker&display=swap');

body{
    padding: 0;
    margin: 0;
}

.container{
    display:grid;
    grid-template-columns: (repeat 3, 1fr);
    grid-template-rows: (40px 30px 15px 100px 100px 40px); 
    height: 100vh;
    align-self: stretch;
}
    
    
.color__fondo-superior{
   /* parte superior - solo div con color */
    grid-column: 1/4;
    grid-row: 1/7;   
    background-color: rgb(77, 133, 133);
}

.encabezado{
    grid-column: 1/4;
    grid-row: 1/2;
    
    display: flex;
    justify-content: space-around;
    
    padding: 0 20px;
    background-color: rgb(39, 32, 54) ;
    align-items: center;
        
}
    
.Logo{
    color: #29fae8;
    font-family: 'Bruno Ace SC', cursive;
    text-shadow: 1.5px 1.5px #846c8b;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;    
    margin-right: 20px;
    font-size: 20px;       
}
    
.Bienvenidos{
    color: #29fae8;
    font-family: 'Bruno Ace SC', cursive;   
    text-shadow: 0.5px 0.5px #b184be;
    display: flex;
    justify-content: end;
    font-size: 15px;
    margin-right: 20px; 
    margin-left: 20px;
    align-items:end ;
}

.nav-general{
    background-color: rgb(62, 52, 85);
    grid-column: 1/4;   
    grid-row: 2/3;    
    text-decoration: none;  
}

.Ul-li-especifico{
    list-style:none;
    text-transform: uppercase;
      
    color: #f0f0f0;
    text-shadow: 1px 1px  #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 14px;
        
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 80px;
    text-align: center;

}

.Links{
    text-decoration: none;
    list-style: none;
}
.QuienesSomos{
    grid-column: 1/4;
    grid-row: 3/4;

    display: flex;
    
    font-family:Georgia, 'Times New Roman', Times, serif;  
    font-weight: 500;
    font-size: 30px;
    color: rgb(252, 221, 255);
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.intro{
    grid-column: 1/4;
    grid-row: 4/5;

    margin-left: 20px;
    margin-right: 20px;
    color: rgb(252, 221, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;   
    display: flex; 
    justify-content: center;
    text-align: center;
  
}

.box{
    grid-column: 1/4;
    grid-row: 5/6;

    display:flex;
    justify-content: space-between;

    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.box-Euge{   
  
   padding: 10px;
   background-color: rgb(252, 221, 255);
   margin: 20px 20px;
}

.box-Gabi{
  
    padding: 10px;
    background-color:  rgb(252, 221, 255);
    margin: 20px 20px;
}   

.box-Dario{
   
    padding: 10px;
    background-color: rgb(252, 221, 255);
    margin: 20px 20px;
     
}

.box-Jujo{
   
    padding: 10px;
    background-color: rgb(252, 221, 255);
    margin: 20px 20px;
     
}


.pie__div{
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center; /* ojo con esta propiedad! */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 32, 54) ;
}
.pie__lista{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
}    
.pie__items{
    margin: 0 30px;
    list-style: none;
    color:  #29fae8;
    text-shadow: 0.5px 0.5px  #736479;
}
.pie__icono{
    text-decoration: none;
}
.pie__icono img{
    width: 30px; 
    height: 30px;
}
.pie__texto{
    margin: 10px 0;
    color: #29fae8;
    font-size: 12px;
    text-shadow: 0.5px 0.5px  #736479;
}